/* 

.tab.current-tab{
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.form-container.active{
    scale: 1;
    opacity: 1;
    display: flex;
} */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS, Comic Sans, cursive;
    
}

:root {
    --colorDark1: #112d4e;
    --colorDark2: #3f72af;
    --colorLight1: #dbe2ef;
    --colorLight2: #f9f7f7;
}

 body{
  
}  
.wrapper{
    width: 100vw ;
    height: 100vh;
    color: 	#000080	;
    background-image: url(./assests/hand.jpg); 
    background-size: cover;
   overflow: hidden;
}

/* h1 tag text effect  */
h1 {
    position: relative;
    text-align: center;
    padding-top: 20px  ;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:40px;
    font-weight: 700;
    color: #0c0c0c;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #4a4a59;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h1::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

/* tab container  */

.tab-container{
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4rem;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing:1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: rgba(19, 97, 240, 0.5);
    border-radius: 4px;
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* button  */
.btn {
    all: unset;
    border: none;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(51, 216, 222);
    color: black;
    padding: 7px 10px;
    margin-bottom: 10px;
}

.btn,.Srchbtn:hover{
    background-color: rgb(83, 221, 78);
    color: white;
    
}

/* searchButton  */
.Srchbtn{
    padding: unset;
    width: 30px;
    height: 30px;
    border: none;
    text-transform: uppercase;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(51, 216, 222);
    padding: 4px 3.5px;
    margin-bottom: 1px; 
}

.Srchbtn img{
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grant-location-container{
    display: none;
}
.grant-location-container.active{
    display: flex;

}

.grant-location-container img{
    margin-top:  2.5rem;
    margin-bottom: 1.5rem;
}

.grant-location-container p:first-of-type{
    font-size: 1.7rem;
    font-weight: 600;
}

.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight:500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    margin-left: 25%;
    text-transform: uppercase;
}

.loading-container img{
    margin-bottom: -3.5rem;
}

.user-info-container{
    display: none;
    margin-top: 3rem;
}
.user-info-container.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.name p{
    font-size: 2rem;
}

.name img{
    width: 30px;
    height: 30px;
}

.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}

.img2{
    width:70px;
    height:70px;
}

.user-info-container p[data-temp]{
    font-size: 1.75rem;
    font-weight: 700;
}

.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.parameter{
    width: 30%;
    max-width: 200px;
    background-color: aqua;
    color: rgb(17, 16, 16);
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:5px 0;
    align-items: center;
}

.parameter img{
    width: 50px;
    height: 50px;
}

.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0  10px;
    /* margin-bottom: 3rem; */
    margin-top: 30px;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 30px;
    padding: 0 20px;
    background-color: rgba(0, 238, 255, 0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color:black; 
}

.form-container input::focus{
    outline: 3px solid rgba(0, 0, 0, 0);
}

.error-container {
    display: none;
    gap: 1rem 0;
  }
  .error-container.active {
    display: flex;
  }
  .error-container img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.error-container p{
    margin-top: -3rem;
}